*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height: 500px;
    padding: 25px 15px 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 12, 11);
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 25px 15px 40px;
    gap: 20px;
    background-color: rgb(16, 39, 36);
}

.main-title{
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 4px;
    color: rgb(9, 240, 124);
}
.main-information{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
}

.main-icon{
    display: block;
    width: 29px;
    height: 8px;
    background-image: url(./trending-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-button{
    position: absolute;
    bottom: calc(50% - 65px);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(9, 240, 124);
}