:root{
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated: hsl(167, 40%, 24%);/*graphic desing text*/
    --dark-blue: hsl(198, 62%, 26%); /* photography text */
    --dark-moderate: hsl(168, 34%, 41%); /* (footer) */
    --very-darkBlue: hsl(212, 27%, 19%);
    --veryDark-grayishBlue: hsl(213, 9%, 39%);
    --dark-grayishBlue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    min-width: 320px;
    height: 500px;
    padding: 25px 25px 0px;
    background: url(./asset/ImgsDesktop/orange-header.jpg) no-repeat top left/100% 100%;
  /*   background-image: url(./asset/ImgsDesktop/orange-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-content: center;
    align-items: center;
}

.containerNav-header{
    display: inline-block;
}
.containerNav-header ul{
    list-style: none;
    text-align: center;
    display: inline-flex;
    align-content: space-around;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.containerNav-header a{
    text-decoration: none;
    color: white;
}
/* header img{

}

.nav-header{
    display: inline-block;
    justify-content: space-between;
}
.containerNav-header{
    display: inline-block;
    justify-content: space-around;
}

.containerNav-header li{
    text-decoration: none;
    list-style: none;
} */

.header__title{
    position: absolute;
    left: 30%;
    top: 15%;
    color: var(--White);
    letter-spacing: 5px;
    font-weight: bold;
}